body {
    text-align: center;
    background-color: green;
}

button {
    background-color: blue;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    width: 100px;
    outline: none;
    cursor: pointer;
    margin: 10px 60px;
}

img {
    height: 300px;
    width: 500px;
    border-radius: 10px;
}